/* 全体背景：黒、文字：白 */
body{
  background-color:#000;
  color:#fff; 
}

/* コンテンツ表示幅：960、画面両幅の余白：自動 */
.container{
width: 960px;
margin: auto;
}

/* 上部「商品一覧」 */
.pageTitle{
  font-weight: normal;
  border-bottom: 2px solid;
}