/* Enterフェーズ開始前と、Leaveフェーズ終了後のスタイル */
.v-enter, .v-leave-to{
  opacity: 0
}

/* Enterフェーズ終了時と、Leaveフェーズ開始後のスタイル */
.v-enter, .v-leave-to{
  opacity: 0
}

/* Enterフェーズ開始前と、Leaveフェーズ終了後のスタイル */
.v-enter, .v-leave-to{
  opacity: 0
}