/* Enterフェーズ開始前と、Leaveフェーズ終了後のスタイル */
/* opacity(※不透明度) */
.v-enter,
.v-leave-to {
  opacity: 0;
}

/* Enterフェーズ終了時と、Leaveフェーズ開始時のスタイル */
/* デフォルトでは表示されている要素には、opacity: 1をしなくてもよいので、.v-enter-to,.v-leaveは省略できる */
.v-enter-to,
.v-leave {
  opacity: 1;
}

/* Enterフェーズ継続中と、Leaveフェーズ継続中のスタイル */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s; /* 表示の切り替えにかかる時間0.5秒 */
}
