/* リスト2-10-2　name属性値でエフェクトを分類する */
/* シンプルなフェードイン */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* Enterフェーズ終了時と、Leaveフェーズ開始時のスタイル */
/* デフォルトでは表示されている要素には、opacity: 1をしなくてもよいので、.fade-enter-to,.fade-leaveは省略できる */
.fade-enter-to,
.fade-leave {
  opacity: 1;
}


