/* リスト2-10-2　name属性値でエフェクトを分類する */
/* シンプルなフェードイン */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* 左からスライドイン */
.sledeInLeft-enter-to,
.fade-leave {
  opacity: 1;
}


